@use 'index' as *;

.button-container {

  .button {
    &.button-size-small {
      width: 150px
    }
  
    &.button-size-medium {
      width: 200px
    }
  
    &.button-size-large {
      width: 250px
    }
  }
}