@import "./../../index.scss";

.file-handler-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .file-name {
      margin-left: 30px;
      color: $dusty-gray;

      &.valid {
        color: $black;
      }
    }
  }

  .drawer-container {
    width: 300px;
    flex-shrink: 0;

    & .MuiDrawer-paper {
      width: 300px;
      box-sizing: "border-box"
    }

    .drawer-header {
      display: flex;
      height: 100px;
      justify-content: space-between;
      padding: 0 15px 0 20px;

      .drawer-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      .drawer-text {
        align-self: center;
        font-family: "Lobster";
        font-size: 25px;
      }
    }

    .drawer-list-label {
      font-family: "RobotoBold";
      margin-right: 10px;
    }

    .drawer-list-tool-container {

      .drawer-list-item {
      
        &:hover {
          cursor: pointer;
        }
  
        .drawer-list-stack {
          display: flex;
          justify-content: space-between;
          width: 100%;
  
          &.vertical-stack {
            flex-direction: column;
          }
          
          .drawer-list-stack-item {
            font-size: 20px;
          }
  
          .min-value {
            padding-right: 15px;
          }
  
          .max-value {
            padding-left: 15px;
          }        
        }
      }
      
    }
    
    .drawer-item-details-container {
      .drawer-list-stack-item {
        font-size: 15px;
      }
    }
  }
}