@import "./../../index.scss";

.file-handler-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .clear-btn {
      flex-shrink: 1;
    }

    .upload-btn {
      align-items: center;
      display: flex;
      flex-grow: 1;
    }

    .file-name {
      margin-left: 30px;
      color: $dusty-gray;

      &.valid {
        color: $black;
      }
    }
  }
}