
//---/ Colors /---//

$white: #ffffff;


// Gray variants
$wild-sand: #f5f5f5;
$silver: #cccccc;
$alto: #cecece;
$mercury: #e1e1e1;
$spun-pearl: #a9a8ad;
$iron: #ced2d5;
$gray-chateau: #a0a2a6;
$dusty-gray: #999999;
$davys-grey:#545454;

// Black transparent variants
$black: #000000;
$black-5: rgba(0, 0, 0, 0.05);
$black-10: rgba(0, 0, 0, 0.1);
$black-12: rgba(0, 0, 0, 0.12);
$black-14: rgba(0, 0, 0, 0.14);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);