@use 'index' as *;

.canvas-container {
  align-items: center;
  background-color: $zircon;
  border: 2px dashed $iron;
  border-radius: 5px;
  display: flex;
  justify-content: center;

  &.empty-canvas {
    background-color: $white;
  }

  .upload-container {
    align-items: center;
    color: $davys-grey;
    display: flex;
    flex-direction: column;
    font-family: "RobotoLight";
    gap: 50px;
    justify-content: center;
    text-align: center;

    .upload-icon {
      height: 50%;
      width: 50%;
    }
  }

  .toolbox-container {
    left: 325px;
    position: absolute;
    top: 25px;

    .toolbox-panel {
      background-color: $white;
      border-radius: 15px;
      box-shadow: 0px 8px 24px rgba(0, 53, 133, 0.1);
      display: flex;
      padding: 10px;

      .toolbox-tool {
        &.active {
          background-color: $tropical-blue;
        }
      }

      .brush-img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .action-container {
    position: absolute;
    right: 25px;
    top: 25px;

    .action-panel {
      background-color: $white;
      border-radius: 15px;
      box-shadow: 0px 8px 24px rgba(0, 53, 133, 0.1);
      display: flex;
      padding: 10px;

      .action-tool {
        &.active {
          background-color: $tropical-blue;
        }
      }

      .action-img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
